:root {
  --colorPrimary: rgb(54, 177, 144);
  --svg-to-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(334deg);
  --svg-to-black: invert(0%) sepia(0%) saturate(9%) hue-rotate(239deg)
    brightness(100%) contrast(100%);
  --border: 2px solid red;
}

body {
  height: 300vh;
  overflow-x: hidden;
}
/* -------------------
        Navbar       
-------------------- */
nav {
  background-color: var(--colorPrimary);
  width: 50px;
  min-height: 50px;
  aspect-ratio: 1/1;
  position: fixed;
  bottom: 5%;
  right: 10%;
  border-radius: 50%;
  transition: all 200ms ease;
}

nav.hide {
  transform: translateY(1000%);
  opacity: 0;
}

nav > .menu {
  font-size: 10px;
  position: absolute;
  top: -550%;
  display: grid;
  place-items: center;
  min-height: max-content;
  gap: 1rem;
  text-align: center;
  max-height: 50px;
  transition: all 200ms linear;
}

nav > .menu a {
  text-decoration: none;
  color: white;
  display: grid;
  place-items: center;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--colorPrimary);
  transition: all 200ms linear;
  opacity: 0;
}

nav > .menu a:nth-child(1) {
  transform: translateY(550%);
}
nav > .menu a:nth-child(2) {
  transform: translateY(420%);
}
nav > .menu a:nth-child(3) {
  transform: translateY(285%);
}
nav > .menu a:nth-child(4) {
  transform: translateY(155%);
}

nav > .hamburger {
  position: fixed;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

nav > .hamburger > input {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  opacity: 0;
  z-index: 99;
}

nav:has(.hamburger > input:checked) > .menu {
  max-height: 400px;
}

nav:has(.hamburger > input:checked) > .menu a {
  opacity: 1;
}

nav:has(.hamburger > input:checked) > .menu a:nth-child(1) {
  transform: translateY(0);
}
nav:has(.hamburger > input:checked) > .menu a:nth-child(2) {
  transform: translateY(0);
}
nav:has(.hamburger > input:checked) > .menu a:nth-child(3) {
  transform: translateY(0);
}
nav:has(.hamburger > input:checked) > .menu a:nth-child(4) {
  transform: translateY(0);
}

nav > .hamburger > div {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, max-content);
  gap: 0.25rem;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

nav > .hamburger > div div {
  justify-self: center;
  width: 50%;
  height: 3px;
  background-color: white;
  border-radius: 0.125rem;
  transform-origin: left;
  transition: all 200ms ease;
}

nav > .hamburger > input:checked ~ div > div:nth-child(1) {
  transform: rotate(45deg) translateX(0.1rem) translateY(-0.25rem);
}
nav > .hamburger > input:checked ~ div > div:nth-child(2) {
  transform: scaleX(0);
}
nav > .hamburger > input:checked ~ div > div:nth-child(3) {
  transform: rotate(-45deg) translateX(0.1rem) translateY(0.25rem);
}

/* -------------------
         Home       
-------------------- */

section[id="home"] {
  width: 100%;
  padding: 5rem 1rem 1rem 1rem;
  text-align: center;
}

section[id="home"] > main {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

section[id="home"] > main > img {
  display: block;
  aspect-ratio: 3/4;
  background-color: var(--colorPrimary);
  background-image: linear-gradient(
    to top right,
    rgb(0, 0, 0),
    rgb(255, 255, 255)
  );
  background-blend-mode: soft-light;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}

section[id="home"] > main > .intro > * {
  letter-spacing: 0.1rem;
}

section[id="home"] > main > .intro > h1 {
  white-space: noWrap;
  overflow: hidden;
  max-width: 0;
  animation: typing 3000ms steps(25, end) infinite alternate,
    blinkCursor 1000ms infinite;
  border-right: 2px solid rgba(0, 0, 0, 0);
}

section[id="home"] > main > .contact {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 1rem;
}

section[id="home"] > main > .contact img {
  display: block;
  overflow: hidden;
  width: 20px;
  aspect-ratio: 1/1;
}

section[id="home"] > main > a {
  padding: 0.5rem;
}

@keyframes typing {
  100% {
    max-width: 25ch;
  }
}

@keyframes blinkCursor {
  50% {
    border-color: rgba(0, 0, 0, 1);
  }
}

/* ----------------------------------------------------------- */
/* About Start */

.container > .abou,
.container > .project,
.container > .contact {
  gap: 2rem;
}

/* About End */
/* -------------------------------------------------------- */
/* Project Start */

.container > .projects > .list {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-items: center;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-block: 1rem;
}

.container > .projects > p {
  color: red;
}

.list::-webkit-scrollbar {
  display: none;
}

.container > .projects img {
  scroll-snap-align: center;
  object-fit: cover;
  width: calc(160px * 1.8);
  height: calc(90px * 1.8);
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px var(--shadow);
}
/* Project End */
/* ----------------------------------------------------- */
/* Skills Start */

.container > .skills > .detail {
  width: 100%;
  text-align: start;
}

.container > .skills > .detail > table td {
  padding: 0.25rem;
  border-bottom: 1px solid var(--shadow);
}

.container > .skills > .detail > table thead tr th {
  width: 100%;
}

/* Skills End */
/* -------------------------------------------------- */
/* Footer Start */

.container > .footer {
  background-image: linear-gradient(
    to top,
    var(--warna200) 20%,
    var(--warna100)
  );
}

.footer a,
.footer p {
  color: var(--white);
  text-decoration: none;
}

/* Footer End */
/* ------------------------------------------------------ */

@keyframes fadeUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
