:root {
  --colorPrimary: rgb(54, 177, 144);
  --svg-to-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(334deg);
  --svg-to-black: invert(0%) sepia(0%) saturate(9%) hue-rotate(239deg)
    brightness(100%) contrast(100%);
  --border: 2px solid red;
}

body {
  overflow-x: hidden;
}
/* -------------------
        Navbar       
-------------------- */
nav {
  background-color: var(--colorPrimary);
  width: 50px;
  min-height: 50px;
  aspect-ratio: 1/1;
  position: fixed;
  bottom: 5%;
  right: 10%;
  border-radius: 50%;
  transition: all 500ms ease;
}

nav.hide {
  transform: translateY(100%);
  opacity: 0;
}

nav > .menu {
  font-size: 10px;
  position: absolute;
  top: -550%;
  display: grid;
  place-items: center;
  min-height: max-content;
  gap: 1rem;
  text-align: center;
  max-height: 50px;
  transition: all 200ms linear;
}

nav > .menu a {
  text-decoration: none;
  color: white;
  display: grid;
  place-items: center;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--colorPrimary);
  transition: all 200ms linear;
  opacity: 0;
}

nav > .menu a:nth-child(1) {
  transform: translateY(550%);
}
nav > .menu a:nth-child(2) {
  transform: translateY(420%);
}
nav > .menu a:nth-child(3) {
  transform: translateY(285%);
}
nav > .menu a:nth-child(4) {
  transform: translateY(155%);
}

nav > .hamburger {
  position: fixed;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

nav > .hamburger > input {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  opacity: 0;
  z-index: 99;
}

nav:has(.hamburger > input:checked) > .menu {
  max-height: 400px;
}

nav:has(.hamburger > input:checked) > .menu a {
  opacity: 1;
}

nav:has(.hamburger > input:checked) > .menu a:nth-child(1) {
  transform: translateY(0);
}
nav:has(.hamburger > input:checked) > .menu a:nth-child(2) {
  transform: translateY(0);
}
nav:has(.hamburger > input:checked) > .menu a:nth-child(3) {
  transform: translateY(0);
}
nav:has(.hamburger > input:checked) > .menu a:nth-child(4) {
  transform: translateY(0);
}

nav > .hamburger > div {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, max-content);
  gap: 0.25rem;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}

nav > .hamburger > div div {
  justify-self: center;
  width: 50%;
  height: 3px;
  background-color: white;
  border-radius: 0.125rem;
  transform-origin: left;
  transition: all 200ms ease;
}

nav > .hamburger > input:checked ~ div > div:nth-child(1) {
  transform: rotate(45deg) translateX(0.1rem) translateY(-0.25rem);
}
nav > .hamburger > input:checked ~ div > div:nth-child(2) {
  transform: scaleX(0);
}
nav > .hamburger > input:checked ~ div > div:nth-child(3) {
  transform: rotate(-45deg) translateX(0.1rem) translateY(0.25rem);
}

h2 {
  letter-spacing: 0.1rem;
}

/* -------------------
         Home       
-------------------- */

section[id="home"] {
  width: 100%;
  padding: 5rem 1rem 1rem 1rem;
  text-align: center;
}

section[id="home"] > main {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}

section[id="home"] > main > img {
  display: block;
  aspect-ratio: 3/4;
  background-color: rgba(55, 165, 115, 0.75);
  background-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  background-blend-mode: soft-light;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}

section[id="home"] > main > .intro > * {
  letter-spacing: 0.1rem;
}

section[id="home"] > main > .intro > h1 {
  white-space: noWrap;
  overflow: hidden;
  max-width: 0;
  animation: typing 3000ms steps(25, end) infinite alternate,
    blinkCursor 1000ms infinite;
  border-right: 2px solid rgba(0, 0, 0, 0);
}

section[id="home"] > main > .contact {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

section[id="home"] > main > .contact img {
  display: block;
  overflow: hidden;
  width: 20px;
  aspect-ratio: 1/1;
}

section[id="home"] > main > a {
  font-size: 12px;
}

@keyframes typing {
  100% {
    max-width: 25ch;
  }
}

@keyframes blinkCursor {
  50% {
    border-color: rgba(0, 0, 0, 1);
  }
}

/* -------------------
        About       
-------------------- */

section[id="about"] {
  text-align: center;
  padding: 3rem 1rem 0;
}

section[id="about"] > main {
  display: grid;
  gap: 1rem;
  animation: fadeUp 500ms linear;
}

section[id="about"] > main p {
  font-size: 14px;
}

/* -------------------
        Project       
-------------------- */

section[id="project"] {
  padding: 3rem 0 0;
  text-align: center;
}

section[id="project"] > main {
  display: grid;
  gap: 0.5rem;
  padding: 1rem 0;
}

section[id="project"] > main > .container {
  overflow-x: scroll;
  display: grid;
  aspect-ratio: 16/9;
  grid-auto-flow: column;
  grid-auto-columns: 85%;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-stop: always;
}

section[id="project"] > main > .container a {
  display: grid;
  place-items: center;
}

section[id="project"] > main > .container a > img {
  scroll-snap-align: center;
  display: block;
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 16/9;
  background-color: gray;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

/* -------------------
        Skills       
-------------------- */

section[id="skills"] {
  padding: 3rem 0 0;
  text-align: center;
}

section[id="skills"] > main {
  padding: 1.5rem 0 0;
  display: grid;
  gap: 1.5rem;
  background-color: rgba(58, 179, 130, 0.125);
  background-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.05)
  );
}

section[id="skills"] > main > table,
section[id="skills"] > main > table th {
  font-size: 14px;
  text-align: start;
}

section[id="skills"] > main > table {
  display: grid;
  max-height: 2.5rem;
  overflow: hidden;
  transition: all 1000ms linear;
}

section[id="skills"] > main > label {
  position: absolute;
  right: 1rem;
  transform: translateY(315%);
  color: white;
  animation: upAndDown 2000ms linear infinite alternate;
}

@keyframes upAndDown {
  50% {
    transform: translateY(300%);
  }
}

section[id="skills"] > main > label > input {
  display: none;
}
section[id="skills"] > main:has(label > input:checked) table {
  max-height: 400px;
}

section[id="skills"] > main > table thead {
  font-size: 16px;
  letter-spacing: 0.15rem;
  background-image: linear-gradient();
  background-color: rgba(125, 175, 155, 0.75);
  padding: 0.25rem 0;
  color: white;
}

section[id="skills"] > main > table thead tr,
section[id="skills"] > main > table tbody tr {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5rem 1rem;
}

section[id="skills"] > main > table tbody {
  display: grid;
  align-items: center;
  letter-spacing: 0.1rem;
}

section[id="skills"] > main > table tbody tr:nth-child(even) {
  background-color: rgba(125, 175, 155, 0.25);
}
section[id="skills"] > main > table tbody tr:not(:nth-child(even)) {
  background-color: rgba(103, 178, 148, 0.25);
}
section[id="skills"] > main > table tbody tr:hover {
  background-color: white;
}

/* -------------------
        Footer       
-------------------- */

section[id="footer"] {
  padding: 3rem 0 0 0;
  font-size: 12px;
  color: white;
}

section[id="footer"] > main {
  display: grid;
  gap: 0.5rem;
  padding: 2rem 0;
  justify-content: center;
  background-color: rgba(31, 90, 66, 0.75);
}

section[id="footer"] > main > .socialMedia {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 0.75rem;
  justify-content: center;
  gap: 0.5rem;
  filter: var(--svg-to-white);
}

@keyframes fadeUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
